@font-face {
    font-family: KanitThin;
    src: url('./fonts/Kanit-Thin.ttf');
}
@font-face {
    font-family: KanitMedium;
    src: url('./fonts/Kanit-Medium.ttf');
}
@font-face {
    font-family: KanitRegular;
    src: url('./fonts/Kanit-Regular.ttf');
}
#juego {
    height: 281;
    width: 500;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:black;
}

.barra {
    margin-left: 15px;
}

.container {
    margin: 0;
    padding: 0;
}

.empresas-img {
    max-width: 100%;
}

.empresas-h5 {
    font-family: KanitRegular;
}

.blue-bg {
    background-color: rgb(72, 83, 156);
    width: 100%;
    height: fit-content;
}

p {
    font-size: 20px;
    font-family: KanitThin;
}

.blanco {
    color: white;
}

.negro {
    color: rgb(0, 0, 0, 0.75);
}

.azul {
    color: rgb(72, 83, 156);
}

.titulo {
    padding: 0;
    background-image: url('./img/frisur.jpg');
    width: 100%;
    height: 480px;
    background-size: 1280px;
    display: flex;
    justify-content: center;
}

.titulo-h1 {
    font-family: KanitMedium;
    color:white;
}

.puerto-img {
    width: 60%;
}

.sm-icon {
    width: 120px;
}

.footer {
    color:black;
    font-family: KanitRegular;
    font-size: 12px;
}